<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>My Flyitalyadsb</title>
</head>

<link rel="stylesheet" href="/static/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<p id="welcome" class="display-1 p-3">Loading aircraft...</p>
<br>

<div id="menu" class="container-fluid d-none justify-content-center align-items-center">
    <div class="row ">

        <div class="col-md-auto text-center">
            <form method="post">
                {{ form.my_map(class="btn btn-light btn-block") }}
            </form>
        </div>
        <div class="col-md-auto text-center">
            <form method="post">
                {{ form.report(class="btn btn-light btn-block") }}
            </form>
        </div>
        <div class="col-md-auto text-center">
            <form method="post">
                {{ form.map(class="btn btn-light btn-block") }}
            </form>
        </div>
        <div class="col-md-auto text-center">
            <form method="post">
                {{ form.graphs(class="btn btn-light btn-block") }}
            </form>
        </div>
        <div class="col-md-auto text-center">
            <form method="post">
                {{ form.site(class="btn btn-light btn-block") }}
            </form>
        </div>
    </div>
</div>
{% with message = get_flashed_messages(request) %}
    {% if message %}
        <div class="success alert-success alert-dismissible show" role="alert">
            {{ message }}
        </div>
    {% endif %}
{% endwith %}
<br>
<div class="row">
    <div class="col">
        <div id="canvas_map"></div>
    </div>
</div>
<div class="row mt-5 mb-0">
    <div class="col-md-auto text-center">

        <form id="searchForm" class="d-none form p-3">
            <label for="sort_by">Search</label>

            <div class="d-flex align-items-center">
                <label class="form-label">
                    <input type="text" class="form-control" name="search"
                           value="{{ request.query_params.get('search', '') }}" placeholder="33fe09">

                </label>
                <label class="form-label">
                    <select name="where" class="form-select">
                        <option value="everywhere"
                                {% if request.query_params.get('sort_by', '') == 'hex' %}selected{% endif %}>Everywhere
                        </option>
                        <option value="hex"
                                {% if request.query_params.get('sort_by', '') == 'hex' %}selected{% endif %}>ICAO
                        </option>
                        <option value="registration"
                                {% if request.query_params.get('sort_by', '') == 'registration' %}selected{% endif %}>
                            Registration
                        </option>
                        <option value="flight"
                                {% if request.query_params.get('sort_by', '') == 'flight' %}selected{% endif %}>
                            Callsign
                        </option>
                        <option value="squawk"
                                {% if request.query_params.get('sort_by', '') == 'squawk' %}selected{% endif %}>
                            Squawk
                        </option>
                        <option value="operator"
                                {% if request.query_params.get('sort_by', '') == 'operator' %}selected{% endif %}>
                            Operator
                        </option>
                    </select>
                </label>
                <button type="submit" class="paper-plane-button ms-2"><i class="fas fa-paper-plane"></i></button>
                <button type="button" id="clear_search" class="x-button ms-2" style="display:none;"><i
                        class="fa-regular fa-circle-xmark"></i></button>
            </div>
        </form>
    </div>
    <div class="col-md-auto text-center">

        <form id="orderForm" class="d-none form p-3">
            <label for="sort_by">Sort by?</label>

            <div class="d-flex align-items-center">

                <label class="form-label">
                    <select name="sort_by" class="form-select">

                        <option value="hex"
                                {% if request.query_params.get('sort_by', '') == 'hex' %}selected{% endif %}>ICAO
                        </option>
                        <option value="registration"
                                {% if request.query_params.get('sort_by', '') == 'registration' %}selected{% endif %}>
                            Registration
                        </option>
                        <option value="flight"
                                {% if request.query_params.get('sort_by', '') == 'flight' %}selected{% endif %}>
                            Callsign
                        </option>
                        <option value="squawk"
                                {% if request.query_params.get('sort_by', '') == 'squawk' %}selected{% endif %}>
                            Squawk
                        </option>
                        <option value="operator"
                                {% if request.query_params.get('sort_by', '') == 'operator' %}selected{% endif %}>
                            Operator
                        </option>
                    </select>
                </label>
                <button type="submit" class="paper-plane-button ms-2"><i class="fas fa-paper-plane"></i></button>
                <button type="button" id="clear_order" class="x-button ms-2" style="display:none;"><i
                        class="fa-regular fa-circle-xmark"></i></button>
            </div>
        </form>

    </div>

    <div class="col-md-auto text-center">

        <form id="slider_form" method="post" class=" form p-3 d-none">
            <label for="radius">{{ position.radius.label.text }}</label>
            <div class="d-flex align-items-center">
                {{ position.radius(class="form-range", id="radius", type="range", min="0", max="500", oninput='outputUpdate(value)', value= request.state.session.radius |default(250)) }}
                <button type="submit" class="paper-plane-button ms-2"><i class="fas fa-paper-plane"></i></button>
                <button type="button" id="clear_position" class="x-button ms-2" style="display:none;"><i
                        class="fa-regular fa-circle-xmark"></i></button>

            </div>
            <output for="radius" id="selected-radius">
                {% if  request.state.session.radius %}{{ request.state.session.radius }} {% else %}
                    250 {% endif %}</output>
        </form>
    </div>

    <div class="col-md-auto text-center">

        <form id="mio" method="post" class=" form p-3 d-none">
            <label for="radius">{{ mio.only_mine.label.text }}</label>
            <div class="d-flex align-items-center">
                {{ mio.only_mine(class="form-select") }}
                <button type="submit" class="paper-plane-button ms-2"><i class="fas fa-paper-plane"></i></button>
                <button type="button" id="clear_mio" class="x-button ms-2" style="display:none;"><i
                        class="fa-regular fa-circle-xmark"></i></button>

            </div>
        </form>
    </div>

</div>

<div id="flights_report" class="table-responsive pt-0 px-3 m-0"></div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="config.js"></script>

<script>
    let filter = false
    let currentPage = 1
    let sort = false
    let only_mine = false
    let position = false
    let where = false

    let canvas_map = L.map('canvas_map').setView([my_receiver.lat, my_receiver.lon], 7);

    const MyReceiverIcon = L.Icon.extend({
        options: {
            iconSize: [38, 95],
            iconAnchor: [12, 91],
        }
    });
    const receiverIcon = new MyReceiverIcon({iconUrl: 'static/my_receiver_icon.png'});

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(canvas_map);

    L.marker([my_receiver.lat, my_receiver.lon], {icon: receiverIcon}).addTo(canvas_map)
        .bindPopup(my_receiver.nome, {
                offset: new L.Point(0, -60)
            }
        ).openPopup();


    synced_receivers.forEach(synced_receiver => {
        L.marker([synced_receiver.lat, synced_receiver.lon]).addTo(canvas_map)
            .bindPopup(synced_receiver.nome);

        L.polyline([
            [my_receiver.lat, my_receiver.lon],
            [synced_receiver.lat, synced_receiver.lon]
        ]).addTo(canvas_map);
    });

    function get_parameters() {
        let params = [];

        params.push("page=" + currentPage);

        if (filter !== false) {
            params.push("search=" + filter);
        }

        if (sort !== false) {
            params.push("sort_by=" + sort);
        }
        if (only_mine !== false) {
            params.push("only_mine=" + only_mine);
        }
        if (position !== false) {
            params.push("position=" + position);
        }
        if (where !== false) {
            params.push("where=" + where);
        }
        return params.join('&')

    }

    function real_update() {
        const queryString = get_parameters();
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                document.getElementById("welcome").innerHTML = "My Fly Italy Adsb - {{ receiver.name if receiver.name else receiver.uuid}}";
                document.getElementById("welcome").classList.add("middle");
                document.getElementById("menu").classList.remove("d-none");
                var elements = document.querySelectorAll('.d-none');
                elements.forEach(function (element) {
                    element.classList.remove('d-none');
                });
                document.getElementById("menu").classList.add("d-flex");
                document.getElementById("flights_report").innerHTML = this.responseText;
            }
        }
        xhttp.open("GET", "/table?" + queryString, true);
        xhttp.send();
    }


    $(function () {
        $('body').on('click', '.pagination_link', function (e) {
            e.preventDefault();
            const urlString = "/table" + $(this).attr('href');
            const searchParams = new URLSearchParams(urlString.split('?')[1]);
            currentPage = searchParams.get('page')
            real_update()
        });
    });


    $(document).ready(function () {
        $("#searchForm").submit(function (event) {
            event.preventDefault();
            filter = $(this).find('input[name="search"]').val();
            where = $(this).find('select[name="where"]').val();
            currentPage = 1
            real_update();
            $("#clear_search").show();
        });
    });

    $(document).ready(function () {
        $("#orderForm").submit(function (event) {
            event.preventDefault();
            sort = $(this).find('select[name="sort_by"]').val();
            currentPage = 1
            real_update();
            $("#clear_order").show();
        });
    });
    $(document).ready(function () {
        $("#slider_form").submit(function (event) {
            event.preventDefault();
            currentPage = 1
            position = $(this).find('input[name="radius"]').val();
            real_update();
            $("#clear_position").show();
        });
    });
    $(document).ready(function () {
        $("#mio").submit(function (event) {
            event.preventDefault();
            only_mine = $(this).find('select[name="only_mine"]').val();
            if (only_mine === "{{ mio.only_mine.choices[1] }}") {
                only_mine = false
                $("#clear_mio").hide()
                real_update()
            } else {
                $('#clear_mio').show();
                only_mine = true
                real_update()
            }
        });
    });

    $(document).ready(function () {
        $("#clear_search").click(function (event) {
            event.preventDefault();
            filter = false
            where = false
            $("#clear_search").hide()
            real_update()
        });
    });
    $(document).ready(function () {
        $("#clear_order").click(function (event) {
            event.preventDefault();
            sort = false
            $("#clear_order").hide()
            real_update()
        });
    });
    $(document).ready(function () {
        $("#clear_position").click(function (event) {
            event.preventDefault();
            position = false
            real_update()
            $("#clear_position").hide()
        });
    });
    $(document).ready(function () {
        $("#clear_mio").click(function (event) {
            event.preventDefault();
            only_mine = false
            real_update()
            $("#clear_mio").hide()

        });
    });

    function outputUpdate(value) {
        document.getElementById('selected-radius').textContent = value;
    }

    setInterval(real_update, 600)
    real_update()

</script>
</html>


