<div class="pagination">
    {% for button in buttons %}

        {% if button.get('active') %}
            <span class="active">{{ button.label }}</span>
        {% else %}
            {% if button.get('before') %}
                <a class="pagination_link before" href="?page={{ button.page }}">{{ button.label }}</a>
            {% else %}
                <a class="pagination_link after" href="?page={{ button.page }}">{{ button.label }}</a>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>

<table id="flights_report" class="table table-striped table-hover table-sm">
    <thead class="thead-dark">
    <tr>
        <th>ICAO</th>
        <th>Registration</th>
        <th>Callsign</th>
        <th>Squawk</th>
        <th>Altitude</th>
        <th>Speed</th>
        <th>Source</th>
        <th>Operator</th>
        <th>Military</th>
        <th>Map</th>
        <th>Editor</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    {% for a in aircrafts %}
        <tr class="{{ a['info'].operator }}">
            <td>{{ a["hex"].upper() }}</td>
            <td>{{ a["info"].registration }}</td>
            <td>{{ a["flight"] }}</td>
            <td>{{ a["squawk"] }}</td>
            <td>{{ a["alt_baro"] }}</td>
            <td>{{ a["gs"] }}</td>
            <td>{{ a["type"] }}</td>
            {% if  a["info"].operator %}
                <td>{{ a["info"].operator }}</td>
            {% else %}
                <td></td>
            {% endif %}
            {% if  a["info"].Civmil %}
                <td>Military</td>
            {% else %}
                <td>Civil</td>
            {% endif %}
            <td><a href="{{ 'https://mappa.flyitalyadsb.com?icao=' + a['info'].icao.lower() }}"
                   class="btn btn-sm btn-outline-secondary">{{ a['info'].icao }}</a></td>
            <td><a href={{ "https://listavoli.flyitalyadsb.com/editor?icao=" + a['info'].icao }}>Edit
                Info</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>



