BingMapsAPIKey = null;
globeIndex = false;
PageName = "My FlyitalyAdsb";
MapType_tar1090 = "osm";


DefaultCenterLat = {{ center_lat }};
DefaultCenterLon = {{ center_lon }};
SiteShow    = true;
SiteLat     = {{ center_lat }};
SiteLon     = {{ center_lon }};
SiteName = "My FlyitalyAdsb";
