aiofiles==23.2.1
aiohttp==3.8.5
aioprometheus==23.3.0
cachetools==5.3.1
fastapi==0.103.1
Flask==2.3.2
pydantic==2.3.0
SQLAlchemy==2.0.19
starlette==0.27.0
Starlette_WTF==0.4.3
tqdm==4.65.2
uvicorn==0.23.2
Werkzeug==2.3.6
WTForms==3.0.1
aiosqlite
aiomonitor
orjson~=3.9.7
asyncpg