
.militare {
    background-color: red;
}

.soccorso {
    background-color: yellow;
}

.carabinieri {
    background-color: cadetblue;
}

.polizia {
    background-color: grey;
}

.guardiadifinanza {
    background-color: green;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper-plane-button {
    background-color: #f8f9fa; /* colore di sfondo */
    border: none; /* rimuove il bordo standard */
    border-radius: 50%; /* rende il pulsante rotondo */
    width: 40px; /* larghezza */
    height: 40px; /* altezza */
    cursor: pointer; /* cursore a forma di mano al passaggio del mouse */
    display: flex; /* per centrare l'icona */
    justify-content: center; /* centra l'icona orizzontalmente */
    align-items: center; /* centra l'icona verticalmente */
    transition: background-color 0.3s; /* animazione di transizione per l'hover */
}

.x-button {
    background-color: #f8f9fa; /* colore di sfondo */
    border: none; /* rimuove il bordo standard */
    border-radius: 50%; /* rende il pulsante rotondo */
    width: 40px; /* larghezza */
    height: 40px; /* altezza */
    cursor: pointer; /* cursore a forma di mano al passaggio del mouse */
    display: flex; /* per centrare l'icona */
    justify-content: center; /* centra l'icona orizzontalmente */
    align-items: center; /* centra l'icona verticalmente */
    transition: background-color 0.3s; /* animazione di transizione per l'hover */
}

.paper-plane-button:hover .x-button:hover {
    background-color: #e2e6ea; /* colore di sfondo al passaggio del mouse */
}

.paper-plane-button:active .x-button:active {
    background-color: #ced4da; /* colore di sfondo al click */
}

.paper-plane-button i .x-button i {
    color: #333; /* colore dell'icona */
    font-size: 20px; /* dimensione dell'icona */
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 230px;
    border: 1px solid #ccc;
    z-index: 1;
    padding: 10px;
}

.custom-dropdown:hover .dropdown-content {
    display: block;
}

#canvas_map {
    height: 30vh;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination a, .pagination span {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #333;
}

.pagination .active {
    color: white;
    background-color: #333;
}
.thead_center {
    justify-content: center;
}